<div class="root-container background-img">
    <section class="home-hero transparent root-item">
        <div class="description-text-area">
            <h1 class="user new">Ready to Book N' Roll? <br />Log In</h1>
            <%= form_with url: session_path, local: true do |f|%>
            <div>
                <%= f.label :email %><br />
                <%= f.email_field :email %>
            </div>

            <div>
                <%= f.label :password %><br />
                <%= f.password_field :password %>
            </div>

            <%= f.submit "Sign In", class:"sign_up_button" %>
            <% end %>
        </div>
    </section>


</div>
    <section class="root-item">
        <p>Populer Courses</p>
        <%= render 'shared/courses_index', courses: Course.all.limit(8) %>
        <p>Populer Rooms</p>
        <%= render 'shared/rooms_index', rooms: Room.all.limit(8) %>
    </section>