<div class="container">

    <h1><%= @user.full_name %></h1>
    <button>
        <%= link_to "Edit", edit_user_path(@user) %>
    </button>

    <div class="user-container">
        <% if current_user.rooms.length > 0 %>
            <div>
                <h2>Your Rooms</h2>
                <%= render 'shared/rooms_index',rooms: current_user.rooms %>
            </div>
        <% else %>
            <div class="link_container">
                <h3>Add a room ☞</h3>
                <div>
                <%= link_to new_room_path do %>
                    <%= image_tag "example/room3", class: "img-links" %>
                <% end %>
                </div>
        <% end %>
    </div>

    <% if current_user.courses.length > 0 %>
        <div>
            <h2>Your courses:</h2>
            <%= render 'shared/courses_index',courses: current_user.courses %>
        </div>
    <% else %>
        <div class="link_container">
            <h3> Add a course ☞ </h3>
            <div>
            <%= link_to new_course_path do %>
                <%= image_tag "example/yoga", class: "img-links" %>
            <% end %>
            </div>
        </div>
    <% end %>

    <% if current_user.enrollments.length > 0 %>
        <div>
             <h2>Courses you are enrolled in:</h2>
             <%= render 'shared/courses_index',courses: Course.joins(:enrollments).where("enrollments.user_id = ?", current_user.id) %>
        </div>
    <% else %>
        <div class="link_container">
            <h3> Shop for a course ☞ </h3>
            <%= link_to courses_path do %>
                <%= image_tag "example/yoga", class: "img-links" %>
            <% end %>
        </div>
    <% end %>

    </div>
</div>
