    <div class="container">

        <h1><%= @user.full_name %></h1>

        <div class="user-container">
        <% if current_user.rooms.length > 0 %>
            <div>
                <h2>Your Rooms</h2>
                <%= render 'shared/rooms_index',rooms: current_user.rooms %>
            </div>
        <% else %>
            <div class="link_container">
                <h3> Post Your Room ☞ </h3>
                <div>
                <%= link_to rooms_path do %>
                    <%= image_tag "example/room3", class: "img-links" %>
                <% end %>
                </div>
            </div>
        <% end %>

        <% if current_user.courses.length > 0 %>
            <div>
                <h2>Courses teaching:</h2>
                <%= render 'shared/courses_index',courses: current_user.courses %>
            </div>
        <% else %>
            <div class="link_container">
                <h3> Post Your Courses ☞ </h3>
                <div>
                <%= link_to courses_path do %>
                    <%= image_tag "example/yoga", class: "img-links" %>
                <% end %>
                </div>
            </div>
        <% end %>

        <%# if current_user.enrolled_courses.length > 0 %>
            <%# <div> %>
                <%# <h2>Courses enrolled in:</h2> %>
                <%#= render 'shared/courses_index',courses: current_user.enrolled_courses %>
            <%# </div> %>
        <%# else %>
            <%# <h3> Find Courses ☞ </h3> %>
            <div class="link_container">
                <h3> Post Your Courses ☞ </h3>
                <%= link_to courses_path do %>
                    <%= image_tag "example/yoga", class: "img-links" %>
                <% end %>
            </div>
        <%# end %>

        </div>
    </div>