<div class="popular-container">
    <% courses.each do |course| %>
    <div class="popular-item">
        <% img = "example/" + ["yoga", "courses"].sample %>
        <%= image_tag img, class:"img-courses" %>
        <h5><%= link_to(course.title,course_path(course.id)) %></h5>
        <p><%= course.description %></p>
        <p><%= course.price %></p>
        <p><%= course.range_start_date %></p>
        <p><%= course.range_end_date %></p>
    </div>
    <% end %>
</div>

