    <div class="popular-container">
    <% rooms.each do |room| %>
    <div class="popular-item">
        <% img = "example/" + ["room1", "room2", "room3"].sample %>
        <%= image_tag img, class:"img-rooms" %>
        <h5><%= link_to(room.name, room_path(room.id)) %>
        <%= link_to(rooms_path(location: room.location)) do %>
            <div class="ui basic small label">
                <i class="map marker alternate icon"></i><%= room.location %>
            </div>
        <% end %>
        </h5>
        <hr />
    
        <p><strong>Capacity:</strong> <%= room.capacity %></p> 
        <p><strong>Price:</strong> $<%= room.price %>/hr</p> 

        <% unless room.features.empty? %>
            <p><strong>Features:</strong></p>
            <% room.features.each do |feature| %>
                <%= link_to(
                    feature.name, rooms_path(feature: feature.name), class: "ui small basic label"
                ) %>
            <% end %>
        <% end %>
            <div class="room_create">
                <small>Posted <%= remove_unwanted_words time_ago_in_words(room.created_at) %> ago</small> 
            </div>
    </div>
    <% end %>
    </div>
