    <div class="popular-container">
    <% rooms.each do |room| %>
    <div class="popular-item">
        <% img = ['https://s10896.pcdn.co/wp-content/uploads/2019/04/meeting-room.jpg','https://www.studiobell.ca/assets/images/_header/NMC-Digital-Assest-Dec2017-NZ-2603.jpg','https://www.thenetworkhub.ca/wp-content/uploads/2018/09/meeting-room-rental-vancouver-table.jpg','https://thumbs.dreamstime.com/z/lecture-room-school-empty-classroom-desks-chair-iron-lecture-room-school-empty-classroom-desks-chair-iron-105866975.jpg','https://www.prm.ox.ac.uk/sites/default/files/prm/images/media/pitt_rivers_museum_by_john_cairns_25.9.18-22.jpg','https://www.ntnu.edu/documents/1272528293/0/universell_utforming_kontorstoler.jpg/e96ecaa8-e3d3-4251-9e47-ab05c3c80f48?t=1483353809661','https://www.ashmolean.org/sites/default/files/styles/listing_image_gallery_image/public/ashmolean/images/media/headley_lecture_theatre_2.jpg?itok=aD8tFDcQ','https://conferences.trinhall.cam.ac.uk/wp-content/uploads/sites/2/2019/03/New-pic-Lecture-Theatre.jpg','https://news.wisc.edu/content/uploads/2018/04/oldest-lecture-hall.png','https://www.danieletdaniel.ca/wp-content/uploads/job_listing/cathedral-centre/Lecture-Room-25-in-Half-Rounds.jpg','https://blogs.edweek.org/teachers/intersection-culture-and-race-in-education/classroom-2093743_1920.jpg','https://upload.wikimedia.org/wikipedia/commons/c/ce/Elementary_classroom_in_Alaska.jpg','https://www.gannett-cdn.com/presto/2018/12/20/PPHX/8057b13e-afd0-4566-b169-568eaa717ec4-PNI1Brd_07-26-2018_ABGBROAD_1_BG004__2018_07_24_IMG_Classroom_1_1_I2MF3NOD_L1254341166_IMG_Classroom_1_1_I2MF3NOD.jpg?crop=5621,3147,x0,y0&width=3200&height=1680&fit=bounds','https://www.tvo.org/sites/default/files/styles/full_width_1280/public/article-thumbnails/class2.JPG','https://www.tvo.org/sites/default/files/styles/full_width_1280/public/media-library/classroom.jpg','https://lh4.googleusercontent.com/proxy/8TKL3XGC8jUoCaz2wr84-NtT59VMs7-MZUF7o4T3nZP-WmU2HorjoXu-Fuf_7-ZAxRf6NLbI143Xp8QwLfGXFZ9yPm-sRTJ1EEOIy6T0xE-9vP5_G0CAqT0yLYiJjdEZTZqBkHgd_gEJ','https://cdn.mos.cms.futurecdn.net/K5nhgMGSRCzdppKW9bQcMd.jpg','https://www.northeastern.edu/graduate/blog/wp-content/uploads/2019/06/Equity-in-the-Classroom-HERO.jpeg','https://www.gannett-cdn.com/presto/2019/11/12/PNAS/87eccfe5-f9b3-42e1-9fcf-3f0b6576061c-_CP13650.jpg?crop=5567,3132,x0,y283&width=3200&height=1680&fit=bounds','https://www.it.unlv.edu/sites/default/files/assets/teaching-learning/classroom-technology/classrooms-bk-image.jpg','https://media.edutopia.org/styles/responsive_2880px_16x9/s3/masters/d7_images/sutherland-inset4-ugcflex_0.jpg'].sample %>
        <%# img = ["https://i.ibb.co/GtWqbN8/room1.jpg", "https://i.ibb.co/pvQdzDZ/room2.jpg", "https://i.ibb.co/zhbsFyY/room3.png"].sample %>
        <%= image_tag img, class:"img-rooms" %>
        <h5><%= link_to(room.name, room_path(room.id)) %>
        <%= link_to(rooms_path(location: room.location)) do %>
            <div class="ui basic small label">
                <i class="map marker alternate icon"></i><%= room.location %>
            </div>
        <% end %>
        </h5>
        <hr />
    
        <p><strong>Capacity:</strong> <%= room.capacity %></p> 
        <p><strong>Price:</strong> $<%= room.price %>/hr</p> 

        <% unless room.features.empty? %>
            <p><strong>Features:</strong></p>
            <% room.features.each do |feature| %>
                <%= link_to(
                    feature.name, rooms_path(feature: feature.name), class: "ui small basic label"
                ) %>
            <% end %>
        <% end %>
            <div class="room_create">
                <small>Posted <%= remove_unwanted_words time_ago_in_words(room.created_at) %> ago</small> 
            </div>
    </div>
    <% end %>
    </div>
