<%= form_with(model: @room, local: true) do |f|%>
<div>
    <% if @room.errors.present?%>
    <%= @room.errors.full_messages.join(', ')%>
    <% end %>
</div>
<div>
    <%= f.label :name %><br>
    <%= f.text_area :name, cols: 50, rows: 1, placeholder: "Spacious room with brand-new A/V system" %>
</div>
<div>
    <%= f.label :address %><br>
    <%= f.text_area :address, cols: 50, rows:1 %>
</div>
<div>
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
</div>
<div>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
</div>
<div>
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: 50, rows:5%>
</div>

<div class="locations-container">
    <h3>Location</h3>

    <h5>Vancouver</h5>
    <%= check_box_tag(:location, "Arbutus Ridge") %>
    <%= label_tag(:arbutus_ridge, "Arbutus Ridge") %>

    <%= check_box_tag(:location, "Downtown") %>
    <%= label_tag(:downtown, "Downtown") %>

    <%= check_box_tag(:location, "Dunbar-Southlands") %>
    <%= label_tag(:dunbar_southlands, "Dunbar-Southlands") %>

    <%= check_box_tag(:location, "Fairview") %>
    <%= label_tag(:fairview, "Fairview") %>

    <%= check_box_tag(:location, "Grandview-Woodland") %>
    <%= label_tag(:grandview_woodland, "Grandview-Woodland") %>

    <%= check_box_tag(:location, "Kensington-Cedar Cottage") %>
    <%= label_tag(:kensington_cedar_college, "Kensington-Cedar Cottage") %>

    <%= check_box_tag(:location, "Kerrisdale") %>
    <%= label_tag(:kerrisdale, "Kerrisdale") %>

    <%= check_box_tag(:location, "Killarney") %>
    <%= label_tag(:killarney, "Killarney") %>

    <%= check_box_tag(:location, "Kitsilano") %>
    <%= label_tag(:kitsilano, "Kitsilano") %>

    <%= check_box_tag(:location, "Oakridge") %>
    <%= label_tag(:oakridge, "Oakridge") %>

    <%= check_box_tag(:location, "Marpole") %>
    <%= label_tag(:marpole, "Marpole") %>

    <%= check_box_tag(:location, "Mount Pleasant") %>
    <%= label_tag(:mount_pleasant, "Mount Pleasant") %>

    <%= check_box_tag(:location, "Renfrew-Collingwood") %>
    <%= label_tag(:renfrew_collingwood, "Renfrew-Collingwood") %>

    <%= check_box_tag(:location, "Riley Park") %>
    <%= label_tag(:riley_park, "Riley Park") %>

    <%= check_box_tag(:location, "Shaughnessy") %>
    <%= label_tag(:shaughnessy, "Shaughnessy") %>

    <%= check_box_tag(:location, "South Cambie") %>
    <%= label_tag(:shaughnessy, "Shaughnessy") %>

    <%= check_box_tag(:location, "Strathcona") %>
    <%= label_tag(:strathcona, "Strathcona") %>

    <%= check_box_tag(:location, "Sunset") %>
    <%= label_tag(:sunset, "Sunset") %>

    <%= check_box_tag(:location, "West End") %>
    <%= label_tag(:west_end, "West End") %>

    <%= check_box_tag(:location, "West Point Grey") %>
    <%= label_tag(:west_point_grey, "West Point Grey") %>

    <h5>Other</h5>

    <%= check_box_tag(:location, "Burnaby") %>
    <%= label_tag(:burnaby, "Burnaby") %>

    <%= check_box_tag(:location, "Coquitlam") %>
    <%= label_tag(:coquitlam, "Coquitlam") %>

    <%= check_box_tag(:location, "New Westminster") %>
    <%= label_tag(:new_westminster, "New Westminster") %>

    <%= check_box_tag(:location, "Richmond") %>
    <%= label_tag(:richmond, "Richmond") %>
</div>

<div class="features-container">
    <h5>Features</h5>
    <%= check_box_tag("features[]", "Free Parking") %>
    <%= label_tag(:free_parking) %>

    <%= check_box_tag("features[]", "Paid Parking") %>
    <%= label_tag(:paid_parking) %>

    <%= check_box_tag("features[]", "ADA Accessible") %>
    <%= label_tag(:ada_accessible, "ADA Accessible") %>

    <%= check_box_tag("features[]", "Audio/Visual Equipment") %>
    <%= label_tag(:audio_visual_equipment, "Audio/Visual Equipment") %>

    <%= check_box_tag("features[]", "WiFi") %>
    <%= label_tag(:wifi, "WiFi") %>

    <%= check_box_tag("features[]", "Open Floor Plan") %>
    <%= label_tag(:open_floor_plan) %>

    <%= check_box_tag("features[]", "Desks") %>
    <%= label_tag(:desks) %>

    <%= check_box_tag("features[]", "Whiteboard") %>
    <%= label_tag(:whiteboard) %>
</div>

<br>
<%= f.submit "Submit" %>

<% end %>