<div class="container">

  <div class="room_info">
    <div class="show_room_header">
        <div class="new user"><%= @room.name %>
            <%= link_to(rooms_path(location: @room.location)) do %>
              <div class="ui blue basic label">
                <i class="map marker alternate icon"></i><%= @room.location %>
              </div>
            <% end %>
        </div>
      </div>

    <% if can? :crud, @room %>
      <div class="post-buttons">
        <%= link_to('Edit Room', edit_room_path(@room.id), class: "") %>
        <%= link_to("Delete Room", room_path(@room), method: :delete, data:{confirm:'Are you sure?'}, class: "sign_up_button") %>
      </div>
    <% end %>

    <div class="room_up">
      <div class="room_info">
        <p>Address: <%= @room.address %></p>
        <p>Capacity: <%= @room.capacity %></p>
        <p>Price: $<%= @room.price %>/hr</p>
        <p>Description: <br><%= @room.description %></p>

    <% if @room.features.count > 0 %>
      <p>
        <% @room.features.each do |feature| %>
        <%= link_to(
                    feature.name, rooms_path(feature: feature.name), class: "ui blue basic label"
                ) %>
        <% end %>
      </p>
        <% end %>
      
   </div>

    <div class="booking_room">
      <%= form_with(model: [@room, @booking], local: true) do |form| %>
      <% if @booking.errors.present?%>
      <p style="color:red;">
        <%= @booking.errors.full_messages.join(', ') %>
      </p>
      <% end %>
      <div class=“field”>
        <%= form.label :start_time %><br />
        <%= form.datetime_select :start_time %>
      </div>
      <div class=“field”>
        <%= form.label :end_time %><br />
        <%= form.datetime_select :end_time %>
      </div>

      <div class=“field”>
        <%= form.label :course_id %><br />
        <%= form.collection_select :course_id, current_user.courses , :id, :title%>
      </div>

      <div class=“actions”>
        <%= form.submit class: "sign_up_button" %>
      </div>
      <% end %>
    </div>
  </div>
  <hr>


  <%= month_calendar events: @bookings do |date, bookings| %>
  <span class="day_number"><%= use_day_only date %></span class="day_number">
  <% bookings.each do |booking| %>
  <div>
    <div>
      <%= booking.start_time.strftime("%I:%M%p") %>
    </div>
    <% if booking.approved? %>
    <%= booking.course.title %>
    by <%= booking.course.user.first_name %>
    <% else %>
    <small> Pending </small>
    <%= link_to booking.course.title, edit_room_booking_path(@room, booking) %>
    <% end %>
    <div>
      <%= booking.end_time.strftime("%I:%M%p") %>
    </div>
  </div><br>
  <% end %>
  <% end %>

  <% if can?(:crud, @room)%>
  <h2> Reserved Bookings </h2>
    <% @bookings.each do |booking| %>
      <% if booking.reserved? %>
        <%= booking.course.title  %><br>
        <%= button_to "Approve", room_booking_approving_path(@room, booking), method: :put %>
        <%= button_to "Reject", room_booking_rejecting_path(@room, booking), method: :put %>
      <% end %>
    <% end %>
  <% end %>

  </div>

</div>
