<h5><%= @room.name %></h5>
<p>Address: <%= @room.address %></p>
<p>Location: <%= link_to(
                    @room.location, rooms_path(location: @room.location)
                ) %></p>
<p><%= @room.capacity %></p>
<p>$<%= @room.price %></p>
<p><%= @room.description %></p>

<% if @room.features.count > 0 %>
    <h6>Features</h6>
    <ul>
        <% @room.features.each do |feature| %>
        <li><%= link_to(
                    feature.name, rooms_path(feature: feature.name)
                ) %></li>
        <% end %>
    </ul>
<% end %>

<br>

<%= month_calendar events: @bookings do |date, bookings| %>
  <%= date %>
  <% bookings.each do |booking| %>
    <div>
      <%= booking.course.title %>
    </div>
  <% end %>
<% end %>

<%= form_with(model: [@room, @booking], local: true) do |form| %>
  <% if @booking.errors.any? %>
    <div id=“error_explanation”>
      <h2><%= pluralize(@booking.errors.count, “error”) %> prohibited this @booking from being saved:</h2>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class=“field”>
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>
  <div class=“field”>
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

    <%= form.label :course_id %>
    <%= form.text_field :course_id %>

  <div class=“actions”>
    <%= form.submit %>
  </div>
<% end %>


    <% @bookings.each do |booking| %>
        <div><%= booking.start_time %></div>
        <div><%= booking.end_time %></div>
    <% end %>
