<h1>All Courses</h1>
<% @courses.each do |course| %>
<div>
    <h2><%= link_to(course.title,course_path(course.id)) %></h2>
    <p><%= course.description %></p>
    <p><%= course.price %></p>
    <p><%= course.range_start_date %></p>
    <p><%= course.range_end_date %></p>
</div>
<% end %>

