<div class="container">
    <h1 class="new user">All Courses</h1><br />
    <a href="<%= new_course_path%>" class="sign_up_button">New Class</a>
    <hr />
    <div class="room_list">
        <% @courses.each do |course| %>
        <div class="single_room">
            <h2 class="new user"><%= link_to(course.title.truncate(30, separator: " "),course_path(course.id)) %></h2>
            <p style="font-weight:bold">Description</p>
            <p><%= course.description.truncate(30, separator: " ") %></p><br />
            <p>Price: $<%= course.price %></p>
            <p>Duration: <%= user_friendly_range course.range_start_date %> to <%= user_friendly_range course.range_end_date %></p>
        </div>
        <% end %>
    </div>
</div>