<div class="container">
    <h1 class="new user"><%= @course.title %></h1>

    <% if can? :crud, @course %>
    <div class="post-buttons">
        <%= link_to('Edit Class', edit_course_path(@course.id), class:"sign_up_button") %>
        <%= link_to("Delete Class", course_path(@course), method: :delete, data:{confirm:'Are you sure?'}, class: "sign_up_button") %>
    </div><br />
    <% end %>

    <!-- <h2>! it may be great to have images in this page !</h2> -->

    <p><%= @course.description %></p>
    <p><%= @course.price %></p>
    <p><%= @course.range_start_date %></p>
    <p><%= @course.range_end_date %></p>
    <p>Posted <%= time_ago_in_words(@course.created_at) %> ago</p>

    <hr>
<!--reviewing the courses-->
    <p>if user is a teacher, it's suppose to show a list of students</p><p>Hello <%= @owner.full_name %></p>
<p>Someone posted a review on your course.</p>

<div class=“comment”>
      <% @reviews.each do |review| %>
      <div class=“comment-body”>
        <%= review.body %> <br>
      </div>
      <% end %>
    </div>
    </div>





