<!DOCTYPE html>
<html>
    
<head>
  <title>Book n'Roll</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%= favicon_link_tag asset_path('logo.png') %>
</head>

<body>
  <nav>
    <div class="the-menu  ui top fixed menu">
      <div class="item"><%=link_to "Book n'Roll", root_path, class:"navbar_link" %></div>
      <div class="login-menu item">
        <% if user_signed_in? %>
          Hello, <strong> <%= current_user.first_name %>&nbsp&nbsp&nbsp</strong>
        <%= link_to "Log Out", session_path, method: :delete,
              data: {confirm: "Are you sure you want to log out?"}, class:"navbar_link"%>
        <% else %>
          <%= link_to "Log In", new_session_path, class:"navbar_link" %>
          <%= link_to "Sign Up", new_user_path, class:"navbar_link" %>
        <% end %>
      <% if user_signed_in?%>
        <%=link_to 'Home', root_path, class:"navbar_link" %>
      <% end %>
        <%=link_to 'Rooms', rooms_path, class:"navbar_link" %>

        <%=link_to 'Classes', courses_path, class:"navbar_link" %>
      </div>
    </div>
  </nav>
  <% flash.each do |type, message| %>
    <div class="flash flash-<%= type %>" style='text-align: center; margin-top: 1em'>
    <%= message%>
    </div>
  <% end %>

  <%= yield %>
</body>

</html>
